/* ToggleSwitch.css */

.toggle-checkbox:checked + .toggle-label {
  background-color: #4f46e5;
}

.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(100%);
}

.toggle-label {
  transition: background-color 0.3s ease-in-out;
}

.toggle-label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  position: relative;
  left: -1.2rem;
  transition: transform 0.3s ease-in-out;
}
